/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.sponseur{
    padding-top: 150px;
}
.sponseur h2{
    text-align: center;
    padding: 20px;
}
.slick-slide1{
    margin: 0 20px;
}
.slick-slide1 img{
    width: 100%;
}
.slick-slider1{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide1{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide1 img{
    display: block;
}
.slick-initialized .slick-slide1{
    display: block;
}
.copy{
    padding-top: 250px;
} */
/* .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.slider1 {
    width: 1000px;
    height: 100px;
    position: relative;
    background: white;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
    overflow:hidden;
    
  }
  .slide1 {
    height: 100px;
    display: flex;
    align-items: center;
  }
  .slide1 img {
    height: 70px;
    padding: 0 30px 0 30px;
  }
  .slide1 {
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 8s linear infinite;
  }
  @keyframes slideshow {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
  }

  .slider1::before, .slider1::after {
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
    z-index: 2;
  }
  .slider1::before {
    left: 0;
    top: 0;
  }
  .slider1::after {
    right:0;
    top:0;
    transform: rotateZ(180deg);
  } */

  :root {
    --total-brand: 14;
    --logo-width: 12rem;
    --total-logo-width: calc(var(--total-brand)*var(--total-logo-width));
}
section h1 {
    font: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    text-align: center;
}

.slider {
    position: relative;
    width: 100vw;
    height: 12rem;
    background-color: #fff;
    box-shadow: 0 .8rem 1.4rem -.2rem #0001;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slider::before,
.slider::after {
    position: absolute;
    content: "";
    height: 100%;
    width: var(--logo-width);
}

.slider::before {
    left: 0;
    background: linear-gradient(to right, #fff 0%, #fff0 100%);
}

.slider::after {
    right: 0;
    background: linear-gradient(to left, #fff 0%, #fff0 100%);
}

.slider ul.brands {
    list-style: none;
    width: var(--total-logo-width);
    display: flex;
    animation: slideLeft 60s linear infinite;
}

.slider ul.brands:hover {
    animation-play-state: paused;
}

@keyframes slideLeft {
    100% {
        transform: translate(-100%);
    }
}

ul.brands li.brand-logo {
    width: var(--logo-width);
    font-size: 2rem;
    text-align: center;
    margin-left: 3rem;
}